LOGGING_CONFIG = "{{ top_dir }}/logging.yaml.example"
FASJSON_URL = "https://fasjson.tinystage.test/fasjson"
DATABASE__SQLALCHEMY__URL = "sqlite:///{{ devel_dir }}/w2fm.db"
OIDC__PROVIDER_URL = "https://ipsilon.tinystage.test/idp/openidc"
OIDC__CLIENT_ID = "{{ oidc_client_id }}"
